*{
    box-sizing: border-box;
}
body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    
}
.home-wrapper{
    background:  linear-gradient(rgba(0,0, 0, 0.6), rgba(0,0,0,0.6)), url('../img/pexels-photo-160107.jpeg') no-repeat;
    /* background: linear-gradient(rgba(0,0, 0, 0.5), rgba(0,0,0,0.5)), url('../img/pexels-photo-30222.jpg') no-repeat; */
    background-position: center;
    background-size: cover;
    color:white;
    
}
.home-wrapper .down{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom:50px;
    font-size: 44px;
    font-weight: bold;

    cursor: pointer;
 
}
.home-wrapper .down:active{
    /* color:#09f; */
    padding-bottom:49px;
    
    font-size: 45px;
}
header{
    padding: 10px 0;
}
header img{
    /* width: 200px; */
}
header nav{
    float: right;
    margin-top:10px;
}
header nav a {
    color:#fff;
    /* font-weight: bold; */
    text-decoration: none;
    margin-left: 15px;
    padding:10px 15px;
    transition: all 0.4s ease;
}
header nav a.active{
    /* color:#09f; */
    background-color: rgba(69, 160, 250, 0.434);
    border-radius: 3px;
    border-bottom:2px solid rgba(69, 160, 250, 0.434);
    
}
header nav a:hover{
   border-bottom:2px solid rgba(69, 160, 250, 0.434);
}
#home{
    text-align: center;
    padding: 200px 0 60px;
    /* padding: 200px 0 155px; */
}
#home h1{
    text-transform: uppercase;
    font-size: 67px;
    font-weight: normal;
    padding: 10px;
    border-bottom: 4px #fff solid ;

}
#home p{
    font-size: 24px;
}
#home .social{
    margin-top: 70px;
}
#home .social a{
    color:#fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    font-size: 24px;
    font-weight: bold;          
    height: 50px;
    width: 50px;
    margin-right: 10px;
    line-height: 50px;
    transition:all 0.4s ease;
    border:0.5px solid transparent;
    
}
#home .social a:hover{
    background-color: rgba(0,0,0,0.8);
    border:0.5px solid #fff;
    
}
#services .box{
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 10px;
}
#services .box img{
    width: 120px;
  
}
#portafolio{
    background: rgb(244, 244, 244);
}
#portafolio .box{
    display: inline-block;
    text-align: center;
    width: 31%;
    margin:1%;
    padding:0px 5px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 2px 0px 12px 1px, rgba(0,0,0,0.12) 2px 0px 12px 1px ;
}

#portafolio .box img{
    width: 100%;
   max-width: 500px;
}
#portafolio .box p{
    color:rgb(82, 82, 82);
    padding: 10px;
}

.container {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 0;
}
section h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}